* {
  font-family: 'Lora', serif;
  font-size: 19px;
  /*margin: 20px;*/
}

html { 
  background: url(../images/calla_lily.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
  font-style: italic;
}

h4 {
  font-style: italic;
  text-align: center;
  font-size: 23px;
}


/*p.intro {
  color: black;
  font-style: italic;
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 25px;
}*/

.headline{
  background-color: rgba(80, 76, 76, 0.43);
  text-align: center;
  color: rgba(168, 243, 206, 0.87);
  margin: 3%;
  padding: 3%;
}

.body {
  color: rgb(107, 107, 119);
  float: left;
  background-color: rgba(80, 76, 76, 0.43);
  padding: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.section {
  background-color: rgba(210, 255, 231, 0.73);
  float: left;
  border: 3px solid rgba(61, 90, 144, 0.54);
  padding: 3%;
  margin: 3%;
}

.footer {
  word-spacing: 4em;
  background-color: rgba(80, 76, 76, 0.43);
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  padding: 3%;
  float: left;
  color: black;
}

.footer_link {
  font-size: 24px;
  text-align: center;
  color: rgba(205, 42, 121, 1);
}







